* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #fff;
  --black: #000;
  --white-grey: #828696;
  --title-font-size: 23rem;
  --sub-title-font-size: 7rem;
  --big-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --bold-font-weight: 700;
  --light-font-weight: 400;
}

body {
  background-color: var(--black);
}

.display-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.website-opening {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
}

.website-opening svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.website-opening .mov2 {
  opacity: 0;
}

.take2-mov1,
.take2-mov2,
.take2-mov3,
.take2-mov4,
.take2-mov5,
.take2-mov6,
.take2-mov7,
.take2-mov8,
.take2-mov9,
.take2-mov10,
.take2-mov11,
.take2-mov12 {
  opacity: 0;
}

.cenario1-take2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.7) translateX(-15%) translateY(20%);
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  opacity: 0;
  z-index: 10;
}

header nav {
  padding-left: 6rem;
  width: 100%;
}

header nav a {
  font-size: var(--big-font-size);
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

.hero {
  height: 118dvh;
  justify-content: end;
  gap: 7rem;
  opacity: 0;
}

.hero-product-case {
  position: relative;
  height: 40%;
  width: 100%;
}

.hero-product-img {
  position: relative;
  width: 63%;
}

.hero-product-img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: var(--title-font-size);
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: var(--sub-title-font-size);
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

h3 {
  font-size: var(--big-font-size);
  color: var(--white);
  font-weight: var(--light-font-weight);
  text-transform: uppercase;
}

.hero-texts {
  width: 100%;
}

.hero-btn {
  position: relative;
  width: 20%;
  padding: 1.3rem;
  z-index: 1;
  background-color: var(--white);
  border-radius: 2.7rem;
  color: var(--black);
  font-size: var(--normal-font-size);
}

.hero-phrase {
  width: 70%;
  padding: 3rem;
  font-size: var(--big-font-size);
  font-weight: var(--bold-font-weight);
  color: var(--white-grey);
}

.feature1 {
  position: relative;
  height: 100dvh;
  gap: 6rem;
  overflow: hidden;
}

.feature1 h2 {
  width: 60%;
}

.feature1-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
  font-size: var(--big-font-size);
  color: var(--white-grey);
}

.feature1-text span {
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

.feature1-moments {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  pointer-events: none;
}

.feature1-img {
  position: absolute;
  width: 30%;
  height: 35%;
  background-color: var(--white);
  transform: scaleX(0.3) translateY(180%);
  opacity: 0;
}

.img1,
.img3,
.img5 {
  left: 4rem;
}

.img2,
.img4,
.img6 {
  right: 4rem;
}

.feature2 {
  height: 230dvh;
  gap: 6rem;
  overflow: hidden;
}

.feature2-animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.feature2-animation-container img {
  position: absolute;
  top: 4rem;
  height: 33%;
  left: -7%;
  transform: translateX(-70%);
}

.feature2-animation-container svg {
  position: absolute;
  height: 53.7%;
  bottom: 4rem;
  right: 0;
  transform: translateX(70%);
}

.feature2-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
  font-size: var(--big-font-size);
  color: var(--white-grey);
}

.feature2-text span {
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

.feature3 {
  min-height: 200dvh;
  padding-top: 10vh;
  justify-content: start;
  gap: 7rem;
}

.feature3 h2 {
  width: 60%;
}

.feature3-closeIMG {
  height: 100dvh;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.feature3-closeIMG img {
  transform: scale(1.3) translateY(-10%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature3-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
  font-size: var(--big-font-size);
  color: var(--white-grey);
}

.feature3-text span {
  color: var(--white);
  font-weight: var(--bold-font-weight);
}

footer {
  position: relative;
  height: 80dvh;
  width: 100%;
  background-color: #040422ff;
  z-index: -1;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-color: #000;
  transform: translateY(0) rotate(3deg);
}

@media (max-width: 1024px) {
  :root {
    --title-font-size: 7rem;
    --sub-title-font-size: 3rem;
    --big-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --bold-font-weight: 700;
    --light-font-weight: 400;
  }

  .website-opening svg {
    height: 50%;
  }

  .cenario1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scaleX(1) translateX(0) translateY(0);
  }

  .take2-mov1 {
    position: absolute;
    top: 60%;
  }

  .hero-product-img {
    position: relative;
    width: 80%;
  }

  h1 {
    top: 47%;
  }

  .hero-btn {
    width: 50%;
  }

  .hero-phrase {
    width: 90%;
    text-align: center;
    padding: 3rem 1rem;
    font-size: var(--big-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--white-grey);
  }

  .feature1 h2 {
    width: 70%;
  }

  .feature1-text {
    width: 70%;
  }

  .feature2-animation-container img {
    position: absolute;
    top: 4rem;
    height: 33%;
    left: -7%;
    transform: translateX(-70%);
  }

  .feature2-animation-container svg {
    position: absolute;
    height: 53.7%;
    bottom: 4rem;
    right: 0;
    transform: translateX(70%);
  }

  .feature2-text {
    width: 70%;
  }

  .feature3 h2 {
    width: 70%;
  }

  .feature3-text {
    width: 70%;
  }
}
