* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #fff;
  --black: #000;
}

body {
  background-color: var(--black);
}

.display-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.website-opening {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
}

.website-opening svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.website-opening .mov2 {
  opacity: 0;
}

.take2-mov1,
.take2-mov2,
.take2-mov3,
.take2-mov4,
.take2-mov5,
.take2-mov6,
.take2-mov7,
.take2-mov8,
.take2-mov9,
.take2-mov10,
.take2-mov11,
.take2-mov12 {
  opacity: 0;
}

.cenario1-take2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.7) translateX(-15%) translateY(20%);
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  border: 1px solid #fff;
  opacity: 0;
}

.hero {
  height: 175dvh;
  gap: 4rem;
  opacity: 0;
}

.hero-product-case {
  position: relative;
  height: 40%;
  width: 87%;
}

.hero-product-img {
  width: 80%;
  height: 100%;
  border: 1px solid #fff;
}

h1 {
  position: absolute;
  top: 40%;
  height: 40%;
  width: 100%;
  border: 1px solid #fff;
}

.hero-btn {
  width: 20%;
  padding: 3rem;
  border: 1px solid #fff;
}

.hero-phrase {
  width: 70%;
  padding: 3rem;
  border: 1px solid #fff;
}

.feature1 {
  position: relative;
  height: 120dvh;
  gap: 6rem;
  overflow: hidden;
}

.feature1 h2 {
  height: 10%;
  width: 60%;
  border: 1px solid #fff;
}

.feature1-text {
  height: 30%;
  width: 60%;
  border: 1px solid #fff;
}

.feature1-moments {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
}

.feature1-img {
  position: absolute;
  width: 30%;
  height: 35%;
  background-color: #fff;
  transform: scaleX(0.3) translateY(180%);
  opacity: 0;
}

.img1,
.img3,
.img5 {
  left: 4rem;
}

.img2,
.img4,
.img6 {
  right: 4rem;
}
